.add_dev{
  display: flex;
  margin: 5vh auto;
  width: 90vw;
  background-color: #EBF0F6;
  border-radius: 20px;
  box-shadow: 5px 5px 20px grey;
  align-items: center;
  justify-content: center;
}

.cont1{
  display: flex;
  background-color: #EBF0F6;
  height: 20vh;
  justify-content: center;
  align-items: center;
}

.cont1 button{
  height: 7vh;
  width: 40vw;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease-out;
  background-color: rgb(201, 200, 200);
}

.cont1 button:hover{
  border-radius: 12px;
  cursor: pointer;
  background-color: rgb(226, 223, 223);
}