.header{
  display: flex;
  /* background-color: black; */
}
.Navbar{
  display: flex;
  background-color: rgb(247, 214, 214);
  /* text-align: center; */
align-items: center;
padding-left: 20px;
width: 100vw;
transition: all 0.3s ease-out;
border-radius: 20px;
}
.Navbar ul{
  margin-left: 20px;
  display: flex;
  list-style: none;
}
.Navbar ul li{
  margin: 10px;
  font-family: 'Ubuntu', sans-serif;

}
.Navbar ul a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.Navbar ul a:hover{
  color: rgb(195, 195, 240);
  font-weight: bold;
}