.container{
    display: flex;
    background-color: red;
    height: 25vh;
    padding: 5px;
    align-items: center;
    justify-content: center;
  }
  .form input{
    height: 10vh;
    width: 50vw;
    border: none;
    border-radius: 10px;
      transition: all 0.3s ease-out;
  }
  .button{
    height: 10vh;
    width: 15vw;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease-out;
  }
  
  .form input:hover{
    height: 12vh;
    border-radius: 15px;
    width: 52vw;
  }
  
  .button:hover{
    border-radius: 20px;
    cursor: pointer;
  }