.team{
    display: flex;
  }
  
  .profile{
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      background-color: white;
      margin: auto 25px;
      height: 70vh;
      width: 30vw;
      border-radius: 15px;
      transition: all 0.2s ease-out;
      box-shadow: 4px 5px 20px gray;
  }
  
  .profile:hover{
      transform: scale(1.2);
      box-shadow: 7px 5px 20px gray;
      background-color: #c4d0df;
  }
  
  .profile h1{
      font-family: 'Expletus Sans', cursive;
      color: #083668;
      font-size: 150%;
  }
  
  .profile p{
      font-family: 'Nova Round', cursive;
  }
  